body {
font-family: arial,helvetica;
}

form input {
width: 15em;
}
#submit {
margin-top: 2em;
float: left;
}
.errorClass {
background-color: #CC6666;
}
#errorDiv {
color: red;
}
.errorFeedback {
visibility: hidden;
}