body{
	
	background-repeat: repeat-x;
	margin:0;
	padding:0;
	width:100%;
}
.container{
	
	margin:auto;
	width:75%;

}
.navbar{
	background: #64D507;

}
ul.navbar{
	margin-left:350px;
}
.top-header{
	background:url('images/templatemo_header.jpg');
	background-repeat:no-repeat;
	margin-top:10px;
	height:114px
}
.left-header{
	margin-left:15px;
}
.top.left-header{
	font-family: Tahoma;
	font-size: 35px;
	color: #0000ff;
}
.bottom.left-header{
	font-family:Tahoma;
	font-style:italic;
}
.right-header{
	margin-top:11px;
}
.top-icon.right-header a{
	margin-left:15px;
}
.form-group.search{
	background:url("images/templatemo_search.jpg");
	width: 185px;
	height: 36px;
}
#searchId{
	border:none;
	background:none;
	width: 132px;
	height: 90%;
	margin-top:1%;
	margin-left:6%;
}
#submitId{
	border:none;
	background: url('images/templatemo_botton.jpg');
	background-repeat: no-repeat;
	width: 35px;
	height: 20px;
	margin-top:3%;
	margin-left:2%;

}
#Trangchu{
	color:#ffffff;
}
#menu li a:hover{
	color:#ffffff;
}
.panel.panel-default{
	border:none;
}
.panel-heading{
	background:none !important;
	border:none;
}
.Type3Title{
	font-family: Arial;
	font-size: 20px;
	color: #0895d6;
	margin-left:5%;
	float: left;

}
.Idea{
	border-radius:50%;
	background:#EEEEEE;
	width:55px;
	height:55px;
	float: left;
	text-align: center;
	line-height: 57px;
	margin-left: 3px;

	color:#0895d6;
	font-size: 20px;
}
h3{
	font-family: Tahoma;
	font-size:19px;
	font-weight:bold;
	margin-top:8px;
}
h4{
	margin-left:5px;
	font-family: Tahoma;
	font-weight:bold;
	font-size:13px;
}
p{
	font-family: Tahoma;
	font-size: 12px;
	text-align: justify;
	margin-top:3px;
	margin-bottom:5px


}
.line{
	background-image: url('images/templatemo_h_line.jpg');
	background-repeat:repeat-x;
	width: 100%;
	height: 2px;
}
#Type5panel{
	margin-top:-20px;
}
.imagegroup img{
	margin-left:5px;
	margin-top:10px;
	height:80px;
	width:80px
}
#line_v{
	background-image: url('images/templatemo_v_line.jpg');
	background-repeat:repeat-y;
	width: 2px;
	height: 260px;
}
.Type1{
	margin-left: 20px;
}
#Type1panel{
	background:url('images/templatemo_section_1_bottom.jpg');
	background-repeat:no-repeat;
}
#Type1Title{
	font-size: 13px;
}
#headingpanel1{
	height:31px;
	
}

#headingpanel2{
	height:40px;
}
#headingpanel3{
	height:90px;
}
#headingpanel4{
	height:28px;
}
#bodypanel1{
	width:78px;
	height:235px;
}
#bodypanel1 p{
	width:220px;
}
#bodypanel2 p{
	width: 80%;
}
#toprow{
	background:url('images/templatemo_section_1_top.jpg');
	background-repeat:no-repeat;
	background-position:0px -12px;
}
.color.green{
	 border-left: solid #6fe550;
	 border-left-width: 9px;
	
}
.color.blue{
	border-left: solid #009fff;
	border-left-width: 9px;
	
}

.color.red{
	border-left: solid #ffc539;
	border-left-width: 9px;
}
div.color p{
	margin-left:6px;
}
.line.five{
	background:url("images/templatemo_section_5.jpg");
	height:10px;
}
#footer{
	clear:right;
	text-align:center;
	padding:40px;
	background-image:url('images/templatemo_footer_bg.jpg');
	background-repeat:repeat-x;
	padding-bottom:2px;
	height:85px;
}
#footerPara{
	color:#ffffff;
	margin-top:-5px;
}
a{
	color:#0000ff;
}
.errorFeedback{
	visibility: hidden;
}
.errorSpan{
	color: red;
}
.okFeedback{
	visibility: hidden;
}
.okSpan{
	color: blue;
}
#submitcontact{
	background: black;
	color:white;
}
.EmailContact{
	background: black;
	color: white;
	border-radius: 5%;
	height: 30px;
	width:160px;
}
.scrollable {
    height: 80px; /* or any value */
    overflow-y: auto;
}